    @import '../../../assets/styles/variables';



:host {
  width: 100%;
  height: 100%;
  background: $blue ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: $yellow;
  font-size: 50px;
}

.login-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-form-field-label {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    font-size: 13px;
    margin-bottom: 30px;

    .login-form-field {
      height: 30px;
      width: 100%;
      background: $light-blue;
      margin-top: 10px;
      border-radius: 5px;
      @include border-style();
      color: white;
    }
  }

  .login-form-button {
    background: $blue;
    color: white;
    width: 30%;
    height: 30px;
    @include border-style();
  }
}

.error {
  color: red;
  font-size: 20px;
}

