
<h1 class="header">Sign in</h1>
<form class="login-form"  [formGroup]="form" (submit)="onSubmit()">
  <label class="login-form-field-label"> Username *
    <input class="login-form-field" formControlName="username">
  </label>
  <label class="login-form-field-label"> Password *
    <input class="login-form-field" formControlName="password">
  </label>
  <button class="login-form-button" type="submit">Sign in</button>

  <div class="error" *ngIf = "this.errorMessage">{{this.errorMessage}}</div>
</form>
