$dark-gray: #33393D;
$gray: #666B6E;
$yellow: #FFCD24;
$blue: #2AABE4;
$light-blue: #9DC8E4;
$background-gray: #fbfbfc;
$background-blue: #def1f8;


@mixin border-style() {
  outline: none;
  border: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
}
